.sectionContainer{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 2rem;
  padding: 3px;
  background-color: #ffffff;
  
}

.sectionChild{
  flex: 1;
  min-width: 0;
}

.mainContentContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  /* padding-bottom: 300px; */
}

.mainContentContainer h2{
  align-self: flex-start;
}

.brandContainer{
  display: grid;
  place-items: center;
}

.brandContainer img{
  height: 150px;
  width: auto;
  object-fit: contain;
}

.formSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formSection h3{
  margin: 0;
  padding: 0;

  font-size: 2.5rem;

}

.formSubheading{
  color: #686868;
}

.mainImageContainer{
  flex: 1;
}

.mainImageContainer img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* .footerSection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow-wrap: break-word;

  background-color: red;
} */

/* .footerSection{
  min-height: 200px;
  height: auto;
  min-width: 0;
}

.footerSection span{
  font-size: .8rem;
  max-width: 100%;
  display: inline-block;
  box-sizing: border-box;
} */