.sectionContainer{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 2rem;
  padding: 3px;
  background-color: #ffffff;
  
}

.sectionChild{
  flex: 1;
  min-width: 0;
}

.mainContentContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
  /* padding-bottom: 300px; */
}

.mainContentContainer h2{
  align-self: flex-start;
}



.formSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainImageContainer{
  width: 100%;
  height: auto;
}

.mainImageContainer img{
  height: 100%;
  object-fit: cover
}