.formContainer{
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.formContainer label{
  font-weight: bold;
}

.formContainer span{
  color: red;
}

.formContainer input{
  margin: 8px 0;

  border: none;
  border-radius: 10px;
  padding: .5rem;
  background-color: #F1F1F1;
}

.formContainer button{
  
  padding: .5rem;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  background-color: #0088FF;
}

.formContainer button:hover{
  background-color: #40B7FF;
  cursor: pointer
}

.showPasswordContainer{
  display: flex;
  gap: 8px;
}

.showPasswordContainer button{
  all: unset;
  cursor: pointer; /* Restores the clickable hand icon */
}

.showPasswordContainer button:hover{
  all: unset;
  cursor: pointer;
}

.showPasswordContainer svg:hover{
  cursor: pointer;
}