.authLink{
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #333333;
  background-color: #F0F0F0;
  transition: all 0.2s ease;
}

.logoutBtn:hover {
  background-color: #dc2626;
}