/* Styling for the SearchBox Section */

/* Parent container for the searchbox inputs, uses margin to center and width to control the total width for the inputs */
.searchBoxContainer{
  margin: 0 auto;
  padding: 1rem;
  width: 95%;
}


