.searchContainer{
  display: flex;
  border: 1px solid black;
}

.searchContainer input{
  border: none;
}

.searchContainer input:hover{
  width: 100%;
}

.searchContainer input:focus{
  width: 100%;
}